<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Shelters</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong>{{ message }}</strong></li>
        {% endfor %}
            </ul>
    {% endif %}
            {% endwith %}
<a href="{{url_for('newshelter')}}">Make New Shelter!</a>
<br>
{% for shelter in shelters%}
<br>
<strong>{{shelter.name}}</strong>
<br>
{{shelter.current_occupancy}}
<br>
{{shelter.maximum_occupancy}}
<br>
<a href="{{url_for('deleteshelter',shelter_id=shelter.id)}}">Delete</a>
<a href="{{url_for('checkin',shelter_id=shelter.id)}}">Check-in</a>
<br>
{%endfor%}

</body>
</html>